# 모델 훈련

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

import missingno as msno

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [40]:
os.chdir(r"D:\hyoon\side_project\kaggle\spaceship_titanic\notebooks")
!pwd

/d/hyoon/side_project/kaggle/spaceship_titanic/notebooks

In [49]:
df_train = pd.read_csv('../input/spaceship-titanic/train.csv')
df_test = pd.read_csv('../input/spaceship-titanic/test.csv')

In [50]:
print(f"train data_len: {df_train.shape[0]}")
print(f"test data_len: {df_test.shape[0]}")

train data_len: 8693
test data_len: 4277

# Feature engineering

## 이름 대체하기

뒷 부분은 성에 해당하므로 특별히 관련이 없을 것이라 생각,     
이름에 해당하는 앞부분만 사용한다.

In [80]:
df_train['Name'] = df_train.Name.str.extract('([A-Za-x]+) ')
df_test['Name'] = df_test.Name.str.extract('([A-Za-x]+) ')

In [81]:
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,NaN,True

In [85]:
pd.crosstab(df_train['Name'], df_train['HomePlanet']).T#.style.background_gradient(cmap='summer_r')

Name,Aard,Aarjel,Aark,Aarone,Aars,Acceleb,Achah,Achbah,Achib,Achira,...,rmark,rmino,rmion,rohs,rona,ront,ros,s,sma,ton
HomePlanet,,,,,,,,,,,,,,,,,,,,,
Earth,0,0,0,7,0,0,0,0,0,0,...,0,0,0,0,8,4,0,0,0,3
Europa,0,0,0,0,0,2,2,3,4,4,...,1,2,2,0,0,0,0,0,0,0
Mars,1,2,2,0,1,0,0,0,0,0,...,0,0,0,1,0,0,2,8,3,0

In [82]:
df_train.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')